#dark {
	background-color: #2d383c;
	color: white;
}

#dark .navbar {
	background-color: #4BA0B5;
}

#dark .navbar-brand {
	color: white;
}

#dark .bi-github {
	color: white;
}

#dark .btn {
	background-color: #4BA0B5;
	color: white;
}

#bshadow{
	box-shadow: 0 4px 15px 0 #f7f7f7;
}


a {
	text-decoration: none;
	color: white ;
}

.navbar, .btn {
	background-color: #4BA0B5;
}

#form 
{
	margin-top: 150px;
}
.form-absensi 
{
	border: 0.1px solid gray;
}

.bi-github {
	color: white;
}